/* GENERAL */
*{
    box-sizing: border-box;
}

a:link, a:visited, a:active:hover{
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.bodyBackground{
    background-color: #22014d;
    background-image: url(/img/background.png);
    background-repeat: repeat;
    background-size: contain;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    margin-left: 3vw;
    color: aliceblue;
    font-family:"Outfit";
    font-weight: bolder;
}

h2{
    margin-left: 1.5vw;
    color: aliceblue;
    font-family: 'Outfit';
    font-size: 2vw;
}


h3 {
    font-family: "Outfit";
    font-size: medium;
}

/* BUSCADOR */
.buscadorContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;

}
  
.buscador{
    width: 15vw;
    height: 3.5vh;
    margin-right:0.5vw;
    padding-right:20px;
    font-size: 13px;
    color: #000;
    outline: none;
    border: 1px solid #22014d;
    border-radius: 30px;
    position: relative;
    top:0.8vw;
}
.lupa{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0.5vw;
    right: 2v;
    width: 3vw;
    height: 5vh;
    color:white;
    background-color: transparent;
    border-radius: 50%;
    
    
}


/* HOME */
/* PELICULAS Y SERIES */


/* FAVORITOS */
.tituloFav{
    margin:0 ;
    padding-bottom: 1vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.252);
}
.containerFav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 11vw;
    height: 25vh;
    width: 100vw;
    justify-content:flex-start;
    position:relative;
}

.containerImgError{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:center;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.peliFav{
    justify-content: center;
    padding-left:1.5vw;
    padding-right: 1.5vw;
    width: 16vw;
}
.imgError{
    width: 25vw;
    height: 15vw;
}
/* SEARCH RESULTS */

.resultText{
    font-weight: bold;
    font-size: 1.5vw;
    padding-left: 50px;
    color: white;
    width: 560px;
    font-family: "Outfit";
    margin-top: 2vw;
}
.tituloResult{
    margin-left: 0vw;
    color: aliceblue;
    font-family: 'Outfit';
    font-size: 2vw;
    font-weight: bold;
    background-color:rgba(0, 0, 0, 0.252) ;
    padding: 1vw 1vw 1vw 2vw;
    
}

.resultMovies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
}

.resultSeries{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
}

.peliculaSearch{
    justify-content: center;
    text-align: center;
    margin: 0.5vw;
    width: 15vw;
}

.errorSearch{
    width: 50vw;
    height: 30vw;
    margin: 4vw;
}

/* LOADER */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes ldio-vp8tjwpo0g {
   0% { transform: translate(9.549999999999999px,74.49px) scale(0); }
  25% { transform: translate(9.549999999999999px,74.49px) scale(0); }
  50% { transform: translate(9.549999999999999px,74.49px) scale(1); }
  75% { transform: translate(74.49px,74.49px) scale(1); }
 100% { transform: translate(139.43px,74.49px) scale(1); }
}
@keyframes ldio-vp8tjwpo0g-r {
   0% { transform: translate(139.43px,74.49px) scale(1); }
 100% { transform: translate(139.43px,74.49px) scale(0); }
}
@keyframes ldio-vp8tjwpo0g-c {
   0% { background: #af5fc2 }
  25% { background: #f9e97d }
  50% { background: #fb7979 }
  75% { background: #f39bea }
 100% { background: #af5fc2 }
}
.ldio-vp8tjwpo0g div {
  position: absolute;
  width: 42.019999999999996px;
  height: 42.019999999999996px;
  border-radius: 50%;
  transform: translate(74.49px,74.49px) scale(1);
  background: #af5fc2;
  animation: ldio-vp8tjwpo0g 2.272727272727273s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-vp8tjwpo0g div:nth-child(1) {
  background: #f39bea;
  transform: translate(139.43px,74.49px) scale(1);
  animation: ldio-vp8tjwpo0g-r 0.5681818181818182s infinite cubic-bezier(0,0.5,0.5,1), ldio-vp8tjwpo0g-c 2.272727272727273s infinite step-start;
}.ldio-vp8tjwpo0g div:nth-child(2) {
  animation-delay: -0.5681818181818182s;
  background: #af5fc2;
}.ldio-vp8tjwpo0g div:nth-child(3) {
  animation-delay: -1.1363636363636365s;
  background: #f39bea;
}.ldio-vp8tjwpo0g div:nth-child(4) {
  animation-delay: -1.7045454545454546s;
  background: #fb7979;
}.ldio-vp8tjwpo0g div:nth-child(5) {
  animation-delay: -2.272727272727273s;
  background: #f9e97d;
}
.loadingio-spinner-ellipsis-o8lv1lj72eg {
  width: 191px;
  height: 191px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-vp8tjwpo0g {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-vp8tjwpo0g div { box-sizing: content-box; }

.loader {
    background-color: #000000; 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 100000;
    clip-path: circle(141.4% at 100% 0);
    transition: clip-path 0.7s ease-in-out;
}

.loader2 {
    clip-path: circle(0% at 100% 100%);
}