/* HIJOS */
.pelicula{
    justify-content: center;
    padding-left:0.5vw;
    padding-right: 0.5vw;
    width: 15vw;
    margin-bottom: 5vh;
    color: white;
}

.nombre{
    display: block;
    text-align: center;
    color: white;
}
.botonInfo{
    color: #f180e1;
}
.tituloCard{
    height: 4vh;
}
.containerButton{
    display: flex;
    justify-content: flex-end;
    width: 25vw;
}
.button{
    padding-left: 5px;
    color: white;
}
.enFav{
    color: red;
}
.button :hover{
    color: pink;
}