/* HEADER */
.containerHeader{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color:#16032fa2;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Outfit";
    font-size:1.5vw;
}

/* LOGO */
.logo{
    height: 7vh;
}

/* MENÚ BÚSQUEDA */
.containerMenu{
    display: flex;
    justify-content: right;
    margin-right: 5vw;
}
.menu{
    display: inline;
    text-decoration: none;

}

.iconoMenu{
    margin-right: 1vw;
    
}
.containerCategorias{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 30px 10px 30px;
    width: 580px;
    margin: 0;
}