/* SEARCH BOX */
.buscadorContainer{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;

}

.buscador{
  width: 15vw;
  height: 3.5vh;
  margin-right:0.5vw;
  padding-right:20px;
  font-size: 13px;
  color: #000;
  outline: none;
  border: 1px solid #22014d;
  border-radius: 30px;
  position: relative;
  top:0.8vw;
}
.lupa{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0.5vw;
  right: 2v;
  width: 3vw;
  height: 5vh;
  color:white;
  background-color: transparent;
  border-radius: 50%;
  
  
}
.wrap{
    padding: 2%;
    display: flex;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.252) ;
}
.search {
  width: 35vw;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #2e0528;
  border-right: none;
  padding: 5px;
  border-radius: 15px 0 0 15px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #350b2b;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #36072f;
  background: #3a053c;
  text-align: center;
  color: #fff;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  font-size: 20px;
}